

@keyframes escalar {
    to{
        scale: 1.1;
    }
    
  }
  *{
      margin: 0;
      padding: 0;
      font-family: 'Roboto', sans-serif;
  
  }
  body{
      background-color: #797979;
      color: aliceblue;
      box-sizing: border-box;
      min-width: 100%;
      width: 100%;
      min-height: 100%;
  }
  /* aqui comienza el header */
  .header{
      background-color: rgb(0, 0, 0);
      height: 8vh;
      display: flex;
      z-index: 5;
      position: fixed;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      color: blue;
      text-shadow: 1px 1px rgb(63, 61, 61);
  }
  .logo img{
      height: 7vh;
  }
  .navbar{
    width: 35%;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: row;
    gap: 4vh;

  }
  .navbar li{
    list-style: none;
  }
  .navbar li a{
    text-decoration: none;
  }

  /* Aqui comienza la seccion hero */

  .hero{
    padding-top: 8vh;
  }
 
   /* Aqui comienza la seccion info */
  
  .section-info{
    font-size: 1em;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5vh;
    padding-bottom: 5vh;
    color: blue;
    text-shadow: 1px 1px rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(199, 198, 198);
  }
  .section-mas-vendidos{
    background-color: white;
    color:blue;
    padding-bottom: 50px;
  }
  .small-card .card {
    width: 13rem;
    margin-right: 10px;
  }
  .small-card {
    height: 350px;
    object-fit: cover;
  }
  .card-img-top{
    width: 14rem;
    object-fit: fill;
  }
  
  /* Aqui comienza la seccion Contactanos */
  
  .section-contacto{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10vh;
    padding-bottom: 10vh ;
    background-color: rgb(36, 36, 36);
    font-size: 6em;
    color: #797979;
  }
  .div-contactanos{
    padding-left: 10px;
    padding-right: 10px;
  }
  .div-contactanos ul{
    list-style:none;
    margin-top: 5vh;
  }
  .contactanos-redes{
    display: flex;
    gap: 10px;
  }
  .contactanos-redes p{
   font-size: 60px;
   margin-top: 100px;
  }
  .contactanos-redes p:hover{
    animation-name: escalar;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  /* Aqui comienza la seccion del footer */
  .section-footer{
    background-color: beige;
    display: flex;
    justify-content: center;
  }
  .section-footer img{
    width: 200px;
  }
  
  /* Aqui comienza el login y registro*/
  .login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 50px;
    padding-bottom: 10px;
    gap: 20px;
    height: 100%;
    background-color: rgb(237, 237, 237);
    padding-top: 15vh;
    padding-bottom: 15vh;
  }
  .login button{
    margin-bottom: 12px;
    color: blue;
  }
  .login-texto{
    color:blue;
  }
  .login-formulario{
    color: black;
  }
  /* Aqui comienzan los estilos de los renders de js */

.products-container{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 50px;

}
.producto{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
background-color: white;
color: blue;
}
.producto img{
  width: 14rem;
    object-fit: fill;
}
.vermas{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

  /* Aqui comienzan las medias querys */
  
  @media (max-width: 1280px) and (min-width:801px) {
    
  }
  @media (max-width: 800px) and (min-width:641px){
     
  }
  @media (max-width: 640px) and (min-width: 387px){
    
    }
  @media (max-width: 386px) and (min-width:270px){
    
  }
  @media (max-width: 269px){
   
  }